.slide {
    background-color: white;
}

.arrow {
    width: 0; height: 0;
    border: 3px solid #333;
    float: left;
    margin-right: 3px;
}

.slide-content {
    width: 1024px;
    height: 720px;
}

h1.title {
    font-size: 150%;
    margin: 80px auto;
}

strong {
    font-weight: 800;
}

p.center {
    text-align: center;
}


img.layer_img {
    width: 55%;
    margin: 0px auto;
    display: block;
}
img.small_layer_img {
    width: 40%;
    margin: 0px auto;
    display: block;
    float: right;
}
img.right {
    margin: 0px auto;
    display: block;
    float: right;
}
img.left {
    margin: 0px auto;
    display: block;
    float: left;
}
img.center {
    margin: 0px auto;
    display: block;
}
img.w90p {
    width: 90%;
}
img.w80p {
    width: 80%;
}
img.dp_example {
    display:block;
    float:left;
}

img.half {
    width:50%;
}

pre {
    font-size: 90%;
}
